* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  cursor: default;
  color: rgb(31, 31, 31);
}

/************************** HEADER **************************/

header {
  background-color: white;
  display: flex;
  align-items: initial;
  justify-content: center;
  padding: 2%;
  color: lightseagreen;
}

.main-title {
  font-size: 2rem;
  padding: 0 1rem;
}

/************************** INPUT FORM **************************/

.input-container {
  background-color: rgb(25, 141, 135);
  color: white;
  padding: 2rem 0;
}

.select-container {
  text-align: right;
}

.form-grp {
  padding: 0.5rem;
  display: flex;
  width: 50%;
  margin: auto;
}

.form-grp label {
  font-size: 1rem;
}

select {
  font-size: 0.75rem;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 50%;
  margin-left: auto;
  border: solid 2px rgba(235, 235, 235, 0.425);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  cursor: pointer;
}

select:focus {
  outline: none;
}

.user-input {
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  border-radius: 5px;
  line-height: 2.5;
  flex: 2;
  padding-left: 0.75rem;
  margin-left: 5rem;
  border: solid 2px #fff;
}

.user-input:focus {
  outline: none;
}

.form-grp button {
  width: 25%;
  font-size: 1.25rem;
  border-style: none;
  border-radius: 5px;
  border: solid 1px rgb(25, 141, 135);
  cursor: pointer;
  color: rgb(25, 141, 135);
}
.form-grp button:hover {
  color: white;
  border: solid 1px white;
  background-color: rgb(25, 141, 135);
}
.form-grp button:focus {
  outline: none;
}

.form-grp:nth-child(4) {
  justify-content: center;
}

/*********** FORM VALIDATION ************/

.not-valid {
  border: solid 2px red;
}

/************************** JOB HEADING **************************/

.header-span {
  background-color: lightseagreen;
  color: white;
  margin-bottom: 0.75rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 1vh 5vw;
}

.job-item-titles h5 {
  font-size: 1.5rem;
  font-weight: lighter;
}

/************************** JOB ITEM **************************/

.job-item-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0.75rem 0;
  margin: 0 5vw;
  text-align: center;
  align-items: center;
  border-bottom: solid 1px #444;
  text-transform: uppercase;
}

.job-item-container:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.number-output-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-text-output-container {
  text-align: left;
  text-transform: none;
}

.comment-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.comment-text {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  width: 90%;
  text-transform: initial;
}

.add-comment-form {
  display: flex;
}

.add-comment-form button {
  background: none;
}

.trash {
  color: #fa163f;
  cursor: pointer;
  position: absolute;
  left: 10%;
}

.add {
  color: #79d70f;
}

.minus {
  color: #fa163f;
  cursor: pointer;
  padding-left: 0.5rem;
  align-self: center;
}

.minus:hover,
.trash:hover,
.add:hover {
  color: #444;
  cursor: pointer;
}

.normal,
.important,
.asap {
  border-radius: 5px;
  color: white;
}

.normal {
  background-color: #79d70f;
}

.important {
  background-color: #fc8210;
}

.asap {
  background-color: #fa163f;
}

/************************** MEDIA **************************/

@media (max-width: 1000px) {
  .form-grp {
    width: 65%;
  }

  .job-item-titles h5 {
    font-size: 1rem;
  }

  .job-item-container p {
    font-size: 0.75rem;
  }

  .comment-text {
    font-size: 0.6rem;
  }
}

@media (max-width: 700px) {
  .main-title {
    font-size: 1.75rem;
  }

  .form-grp {
    width: 95%;
  }

  .user-input {
    line-height: 1.5;
  }

  .user-input::placeholder {
    font-size: 0.6rem;
  }

  select {
    font-size: 0.5rem;
  }
  .form-grp button {
    width: 50%;
  }

  .job-item-titles {
    display: none;
  }

  .job-item-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(25, 141, 135, 0.123);
    border-radius: 5px;
    border-bottom: none;
    margin: 1.5vh 5vw;
  }

  .job-item-container div {
    padding: 1rem;
    width: 90%;
  }

  .task-text-output-container {
    text-align: center;
    text-transform: none;
  }

  .trash {
    color: #fa163f;
    cursor: pointer;
    position: absolute;
    left: 10%;
  }

  .job-item-container p {
    font-size: 0.5rem;
  }

  .add-comment-form textarea {
    border-radius: 3px;
  }

  .add-comment-form textarea::placeholder {
    font-size: 0.5rem;
    padding-left: 0.25rem;
  }

  .comment-text {
    font-size: 0.5rem;
  }
}
